.id-card-form-container {
  
    min-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    margin-top: 80px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .id-card-form-container h2 {
    text-align: center;
  }
  
  .id-card-form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .id-card-form-container input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .id-card-form-container button {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .id-card-form-container button:hover {
    background: #0056b3;
  }
  
  .status{
    margin-bottom: 200px;
  }

  /* id card css */
  /* Container for the ID Card Display */
.id-card-display {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* ID Card Styling */
.id-card-container {
  background: white;
  background-image: url("https://i.pinimg.com/474x/48/47/e5/4847e5802b3733b9c3c56ee9c2dcfe13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 350px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /* text-align: center; */
  position: relative;
  min-height: 470px;
  margin-bottom: 20px;
}

/* ID Card Header (Logo & College Name) */
.id-card-header {
  /* margin-top: 20px; */
  /* display: flex; */
  flex-direction: column;
  align-items: left;
  /* min-height: 130px; */
}

.id-card-logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 5px;
  margin-left: 20px;
}

.college-name {
  font-size: 20px;
  font-weight: bold;
  color: #001427;
}

/* Profile Image */
.profile-img {
  width: 150px;
  height: 120px;
  border-radius: 50%;
  margin-left: 90px;
  margin-top: 0px;
  margin-bottom: 15px;
}

/* ID Card Details Section */
.id-card-details {
  
  text-align: left;
  margin-top: 5px;
  margin-left: 50px;
}

.id-card-details p {
  font-size: 14px;
  margin: 8px 0px;
}

/* Footer Section */
.id-card-footer {
  margin-top: 15px;
  font-size: 14px;
  color: #333;
}

/* Button to View ID Card */
.view-id-btn {
  background-color: #ffdd57;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-id-btn:hover {
  background-color: #ffcc00;
}
.head{
  margin: 0px;
  font-size: 14px;
  margin-left: 27px;
}